{% extends "base.html" %}
{% load static %}

{% block title %}
Strona Główna - Psieszkoleni
{% endblock %}

{% block content %}

  <div class="gallery-grid">
    <a href="{% static 'img/akcja1.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja1.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja2.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja2.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja3.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja3.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja4.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja4.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja5.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja5.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja6.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja6.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja7.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja7.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja8.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja8.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja9.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja9.jpg' %}" alt="Opis 1">
    </a>
       <a href="{% static 'img/akcja1.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja1.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja2.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja2.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja3.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja3.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja4.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja4.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja5.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja5.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja6.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja6.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja7.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja7.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja8.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja8.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja9.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja9.jpg' %}" alt="Opis 1">
    </a>
       <a href="{% static 'img/akcja1.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja1.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja2.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja2.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja3.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja3.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja4.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja4.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja5.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja5.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja6.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja6.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja7.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja7.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja8.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja8.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja9.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja9.jpg' %}" alt="Opis 1">
    </a>
       <a href="{% static 'img/akcja1.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja1.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja2.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja2.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja3.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja3.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja4.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja4.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja5.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja5.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja6.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja6.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja7.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja7.jpg' %}" alt="Opis 1">
    </a>
    <a href="{% static 'img/akcja8.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja8.jpg' %}" alt="Opis 2">
    </a>
    <a href="{% static 'img/akcja9.jpg' %}" class="glightbox" data-gallery="galeria">
      <img src="{% static 'img/akcja9.jpg' %}" alt="Opis 1">
    </a>
  </div>
<div class="signing-buttons">
        <a href="/konsultacje" class="hero-btn-outline">Umów konsultację</a>
        <a href="/szkolenia" class="hero-btn-solid">Zapisz się na szkolenie</a>
      </div>
{% endblock %}
